div{
    color:yellow;
    background-color:rgb(0,15,70);
    font-size:30px;
    font-weight:bold;
    width:200px;
    height:40px;
    text-align:center;
    padding:50px;
    box-shadow:inset 0px 0px 45px 10px rgba(250,130,250, 0.8);
}

#name-section {
    margin-top: 50px;
}